body{
    /* background:linear-gradient(#666666,#4e4e4e); */
    /* background-color:#4e4e4e ; */
    background: url("../images/wall.jpg");

    background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  margin: 0 0 0 0;;
}
.container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /* border:2px double #486d12; */
    /* border-left: none; */
    position: relative;
    margin-top: 40px;    
}

header{
    text-align: left;
    align-items: center;
    color:rgb(143, 142, 142);
    background-color: #050404;
    margin: 0px;
    position: fixed;
    top:0;
    width:100%;
    z-index: 1;
}
.header-h1{
    /* color:#050404; */
    font-size: 30px;
    /* display: inline-block; */
    text-align: left;
    margin-left: 10%;
    /* width: 40%; */
    /* background: -webkit-linear-gradient(rgb(10, 15, 12),#61b1dc);
    background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.image-calendar{
    /* position: fixed; */
    /* display: inline-block; */
    width:280px;
    height: 150px;
    border:black outset 4px;
    /* right: 50px; */
    /* top: 0px; */
    /* border-top: #050404 dashed 2px; */
    box-shadow: 0 0 4px blue;
    margin: 5px 5px;
}
.today{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-align: right;
    font-weight: 600;
    /* text-decoration: underline; */
    color:#486d12;
    margin-top: 50px;
}

#bottom-right-plant{
    position: fixed;
    right:-1%;
    bottom:-1%;
    height: 100px;
}

#bottom-left-plant{
    position: fixed;
    left:-1%;
    bottom:-1%;
    height: 100px;
}

#left-light{
    position: relative;
    width:20px;
    margin: 0 0 0 0;
    /* padding-top: -1px; */
    top:-5px;
    left:-0.0px;
}

.leftlightdiv{
    position:fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left:auto;
    margin-right: auto;
    top:0;
    left:1%;
}
.wire{
    top:0px;
    margin:0;
    height: 100%;
    border-left: 2px solid black;
}

a:link,a:visited{
    color:#486d12;
}

footer{
    height: 30px;
    width: 100%;   
    position: fixed;
    bottom: 0;
   text-align: center;
   color:#486d12;
   font-weight: 500;
}

.calcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;    
    border: 1px solid gray;
    align-content: center;
    padding-right: 10px;
    border-radius: 10%;
    display: none;
    margin-top: 10px;
}

.daylabel{
    color:#486d12;
}
.daybtn{
    background-color: #486d12;
    border-radius: 50%;
    border:none;
    color:whitesmoke;
    width:32px;
    height:32px;
    margin:1px;
    outline: none;
}
.daybtn:disabled{
    background-color: gray;
    opacity: .5;    
}

.daylabel{
    width:35px;
    height:35px;
    margin:1px;
}
/* .daybtn{
    width:10px;
    height:10px;
    margin:1px;
} */

#showHideBtn{
    background-color:#e2b37b;
    width:30px;
    height:30px;
    border-radius: 50%;
    border: none;
    outline: none;
}

#backToTodaydiv,#showHidediv{
    margin-left: auto;
    margin-right: auto; 
    color:#486d12;
    font-weight: 600;
    /* width:120px; */
   
   
}

#showHidediv{
    display: block;
    width:180px;
    text-align: center;
}
#backToToday{
    background-color: #e2b37b;
    color: #2a4205;
    border-radius:8%;    
}
  
#imgcal{   
    border: 10px outset #e2b37b;
}

#prev,#next,#monthName,#yearName{
    font-size: 15px;
    /* margin:5px; */
    color:#486d12;
    font-weight: 400;
    /* background-color: #486d12; */

    
}
#prev,#next{
    visibility: hidden;
    border:none;
    border-radius: 50%;
    background-color: #486d12;
    color:whitesmoke;
    width:30px;
    height: 30px;
    outline: none;
}

.monthrow{
    background-color: transparent;
    /* border: 1px solid; */
    margin-top: 10px;
    /* padding:5px; */
    /* border-radius: 5px; */
}

.timeSlotsContainer{
    margin-top: 20px;
}

.timeSlotDiv{
    height: 50px;
    border:1px solid rgb(125, 126, 124);
    border-left: none;
    border-right:none;
    /* background-color: #1181bd; */
    position: relative;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.timeSlotLabel{
   height: 45px;
   width:34px; 
   border-right:1px solid rgb(125, 126, 124); 
   margin:0px;
   font-size: 15px;
   font-weight: 600;
   /* background-color: whitesmoke; */
   position: relative;
   top:0px;
}

.timeSlotItemText{
    background-color: gray;
    height: 47px;
    width:80%; 
    /* border:none; */
    display: inline-block;
    margin-left:2px;
}


.inputItemText{
    height: 47px;
    width:80%; 
    border:none;
    /* outline: none; */
   /* border-left:1px solid rgb(125, 126, 124);  */
   margin-left:2px;
   background-color: transparent;
   font-size: 12px;
   /* margin:5px; */
}

.inputItemText:focus{
    /* border:none; */
    outline-color: #1181bd;
    outline-style: solid 2px;
    /* border-color: red;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0px !important; */
}

#selectedDay,.selectedDayDiv{
    font-size: 15px;
    font-weight: 600;
    margin-right: 20px;
    color:#ebdac6;
    background-color: #486d12;
    text-align: center;
}
.selectedDayDiv
{
    border:1px solid black;
    border-radius: 5px;
    color:white;
}

.unlockAndSaveBtn{
    width:30px;
    height:30px;
    margin-left:10px;
    margin-top: auto;
    margin-bottom: auto;
    position: absolute;
    top:8px;
    left:5%;
}

.timeSlotItemBtnsSpan{
    background-color: #1181bd;
    height:47px;
    width:15%;
    /* margin-left: 70%; */
    /* margin-right:auto; */
    display: inline-block;
    position: absolute;
    top:0%;
    left:85%;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;

    /* margin:0% 70%; */
}

.inputItemCheck{
    width: 20px;
    height:20px;
    margin-left:2%;
    background-color: aquamarine;
    position: relative;
    top:10%;
}

@media only screen and (max-width:280px){
    .image-calendar{
        display: none;
    }
}

@media only screen and (max-width:767px){
    body{
        background: url("../images/wall-mobile.jpg");
        background-position: center center;
  
        /* Background image doesn't tile */
        background-repeat: no-repeat;
        
        /* Background image is fixed in the viewport so that it doesn't move when 
           the content's height is greater than the image's height */
        background-attachment: fixed;
        
        /* This is what makes the background image rescale based
           on the container's size */
        background-size: cover;
    }

    #bottom-right-plant{
        position: fixed;
        right:-1%;
        bottom:0%;
        height: 75px;
    
    }
    #bottom-left-plant{
        position: fixed;
        left:-1%;
        bottom:-1%;
        height: 75px;
    }

}

