body{    
    background: url("../images/wall.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0 0 0 0;;
}

.container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 40px;    
}

header{
    text-align: left;
    align-items: center;
    color:rgb(143, 142, 142);
    background-color: #050404;
    margin: 0px;
    position: fixed;
    top:0;
    width:100%;
    z-index: 1;
}
.header-h1{
    font-size: 30px;
    text-align: left;
    margin-left: 10%;    
}

.today{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-align: right;
    font-weight: 600;
    color:#486d12;
    margin-top: 50px;
}

#bottom-right-plant{
    position: fixed;
    right:-1%;
    bottom:-1%;
    height: 100px;
}

#bottom-left-plant{
    position: fixed;
    left:-1%;
    bottom:-1%;
    height: 100px;
}

#left-light{
    position: relative;
    width:20px;
    margin: 0 0 0 0;
    top:-5px;
    left:-0.0px;
}

.leftlightdiv{
    position:fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left:auto;
    margin-right: auto;
    top:0;
    left:1%;
}

.wire{
    top:0px;
    margin:0;
    height: 100%;
    border-left: 2px solid black;
}

a:link,a:visited{
    color:#486d12;
}

footer{
    height: 30px;
    width: 100%;   
    position: fixed;
    bottom: 0;
   text-align: center;
   color:#486d12;
   font-weight: 500;
}

.calcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;    
    border: 1px solid gray;
    align-content: center;
    padding-right: 10px;
    border-radius: 10%;    
    margin-top: 10px;
}

.daylabel{
    color:#486d12;
}

.daybtn{
    background-color: #486d12;
    border-radius: 50%;
    border:none;
    color:whitesmoke;
    width:32px;
    height:32px;
    margin:1px;
    outline: none;
}

.daybtn:disabled{
    background-color: gray;
    opacity: .5;    
}

.daylabel{
    width:35px;
    height:35px;
    margin:1px;
}

#showHideBtn{
    background-color:#e2b37b;
    width:30px;
    height:30px;
    border-radius: 50%;
    border: none;
    outline: none;
}

#backToTodaydiv,#showHidediv{
    margin-left: auto;
    margin-right: auto; 
    color:#486d12;
    font-weight: 600;  
}

#showHidediv{
    display: block;
    width:180px;
    text-align: center;
}
#backToToday{
    background-color: #e2b37b;
    color: #2a4205;
    border-radius:8%;    
}
  
#imgcal{   
    border: 10px outset #e2b37b;
}

#prev,#next,#monthName,#yearName{
    font-size: 15px;
    color:#486d12;
    font-weight: 400;    
}

#prev,#next{
    visibility: visible;
    border:none;
    border-radius: 50%;
    background-color: #486d12;
    color:whitesmoke;
    width:30px;
    height: 30px;
    outline: none;
}

.monthrow{
    background-color: transparent;
    margin-top: 10px;
}

.timeSlotsContainer{
    margin-top: 20px;
}

.timeSlotDiv{
    height: 50px;
    border:1px solid rgb(125, 126, 124);
    border-left: none;
    border-right:none;    
    position: relative;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.timeSlotLabel{
   height: 45px;
   width:34px; 
   border-right:1px solid rgb(125, 126, 124); 
   margin:0px;
   font-size: 15px;
   font-weight: 600;   
   position: relative;
   top:0px;
}

.timeSlotItemText{
    background-color: gray;
    height: 47px;
    width:80%;     
    display: inline-block;
    margin-left:2px;
}

.inputItemText{
    height: 47px;
    width:80%; 
    border:none; 
   margin-left:2px;
   background-color: transparent;
   font-size: 14px;   
}

.inputItemText:focus{    
    outline-color: #1181bd;
    outline-style: solid 2px;    
}

#selectedDay,.selectedDayDiv{
    font-size: 15px;
    font-weight: 600;
    margin-right: 20px;
    color:#ebdac6;
    background-color: #486d12;
    text-align: center;
}
.selectedDayDiv
{
    border:1px solid black;
    border-radius: 5px;
    color:white;
}

.unlockAndSaveBtn{
    width:30px;
    height:30px;
    margin-left:10px;
    margin-top: auto;
    margin-bottom: auto;
    position: absolute;
    top:8px;
    left:5%;
    border:none;
    outline: none;
    border-radius: 50%;
}

.timeSlotItemBtnsSpan{
    background-color: #1181bd;
    height:47px;
    width:15%;    
    display: inline-block;
    position: absolute;
    top:0%;
    left:85%;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.inputItemCheck{
    width: 20px;
    height:20px;
    margin-left:2%;
    background-color: whitesmoke;
    position: relative;
    top:10%;
    border:none;
    outline: none;
    border-radius: 50%;
    -webkit-appearance: none;
}
.inputItemCheck:checked{
    background-color: purple;
}
.messagediv{    
    width:200px;
}
#message{
    position: absolute;
    background-color: red;
    color:beige;
    top:30%;    
    z-index: 1;
    padding:2px; 
    width:70%;
    margin-left:auto;
    margin-right: auto;   
    display: none;
    text-align: center;
}

ul li {
    display:inline;
  }

.smallbox{
width: 15px;
height: 15px;
border-radius: 1px;
content: " ";
display: inline-block;
}

.legendDiv{
    font-size: 12px;
}

.graybox{
background-color: gray;
border: 1px solid black;
}

.orangebox{
background-color: #e2b37b;
border: 1px solid black;
}

.greenbox{
    background-color: #98FB98;
    border: 1px solid black;
 }

 .purplecircle{
    background-color: purple;
    border: 1px solid black;
    border-radius: 50%;
}

.whitecircle{
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 50%;
}


@media only screen and (max-width:767px){
    body{
        background: url("../images/wall-mobile.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    #bottom-right-plant{
        position: fixed;
        right:-1%;
        bottom:0%;
        height: 75px;    
    }

    #bottom-left-plant{
        position: fixed;
        left:-1%;
        bottom:-1%;
        height: 75px;
    }

    #message{
        position: fixed;
        background-color: red;
        color:beige;
        top:30%;    
        z-index: 1;
        padding:2px; 
        width:70%;
        margin-left:auto;
        margin-right: auto;   
        display: none;
        text-align: center;
    }
}

